
<div class="post-detail" *ngIf="model" >
    <div class="post-title">
       {{model.title}}
    </div>
    <div class="post-body">
        <div id="cnblogs_post_body"  [innerHTML]="model.content" >          
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="post-info-block">
        <post-postinfoblock></post-postinfoblock>
    </div>
    <div class="post-desc">
        posted @ <span id="post-date">2017-07-11 08:08</span> <a href="http://www.cnblogs.com/zjf-1992/">Avenstar</a> 阅读(
        <span
            id="post_view_count">66</span>) 评论(<span id="post_comment_count">0</span>) <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7141788"
                rel="nofollow">编辑</a> <a href="#" onclick="AddToWz(7141788);return false;">收藏</a>
    </div>
</div>