<div class="sidebar-widget">
    <h3>推荐排行榜</h3>
    <div class="widget-content">
        <ul>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/6832941.html">1. 拖拽系列一、JavaScript实现简单的拖拽效果(4)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/5400103.html">2. jQuery个性化图片轮播效果(1)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/6258135.html">3. 常见CSS与HTML使用误区(1)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/6854783.html">4. 拖拽系列二、利用JS面向对象OOP思想实现拖拽封装(1)</a></li>
        </ul>
    </div>
</div>