/**日历控件样式开始**/
#calendar {
    width: 100%;
	margin-bottom: 15px;padding:5px;border-radius:7px;box-shadow:1px 1px 2px #A7A8AD;background: #fff;
}
#calendar .Cal {
	width: 100%;
	line-height: 1.5;
}
#calendar th{padding:2px 5px;}
#calendar td{padding:2px 5px;}
#calendar td a{display: block;}
.Cal {/**日历容器table**/
	border: none;
	color: #666;
}
#calendar table a:link, #calendar table a:visited, #calendar table a:active {
	font-weight: bold;
}
#calendar table a:hover {
	color: white;
	text-decoration: none;
	background-color: #F60;
}
.CalTodayDay{/**今天日期样式**/
	color:#f60;
}
#calendar .CalNextPrev a:link,#calendar  .CalNextPrev a:visited, #calendar .CalNextPrev a:active {/**上个月、下个月箭头样式**/
	font-weight: bold;
	background-color: white;
}
.CalDayHeader{
	border-bottom:1px solid #ccc;	
}
.CalTitle{/**日历年月头部样式**/
	width:100%;
	background:white;
	color:black;
	border-bottom:1px solid #666;	
}
/**日历控件样式结束**/