<div class="container-fluid">
    <a name="top"></a>
    <div class="return_BackTop"><a href="#top" title="回到顶部">Top</a></div>
    <div class="post-home">
        <div class="post-header">
            <div class="header-title">
                <h1><a href="#">求真务实（作者昵称{{username}}）</a></h1>
            </div>
            <div class="header-nav">
                <ul>
                    <li><a href="/">会计人</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">新文章</a></li>
                    <li><a href="#">联系</a></li>
                    <li><a href="#">订阅</a></li>
                    <li><a href="#">管理</a></li>
                </ul>

                <div class=" navbar-right post-state">
                    <span>文章 - 123 &nbsp;评论 - 45&nbsp;</span>
                </div>

            </div>
        </div>
        <div class=" clearfix post-main ">
            <router-outlet></router-outlet>
        </div>
        <div class="clearfix"></div>
        <div class="post-footer">
            Copyright ©2017-2010 accounter.cn
        </div>
    </div>
</div>