<div class="row">
    <div class="main-sidebar col-md-2">
        <post-userprofile></post-userprofile>
        <post-calendar></post-calendar>
        <post-search></post-search>
        <post-records></post-records>
        <post-usuallylinks></post-usuallylinks>
        <post-userposttags></post-userposttags>
        <post-userpostcategory></post-userpostcategory>
        <post-newestcomment></post-newestcomment>
        <post-readrank></post-readrank>
        <post-commentrank></post-commentrank>
        <post-recommendrank></post-recommendrank>
    </div>
    <div class="col-md-10 ">
        <div class="main-content">
            <post-postdetail [model]="postModel"></post-postdetail>
        </div>
    </div>
</div>