<div class="sidebar-widget">
    <h3>评论排行榜</h3>
    <div class="widget-content">
        <ul>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/6168751.html">1. 【Google Chrome】  Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https, chrome-extension-resource问题解决(9)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/5378937.html">2. JavaScript中数组去除重复(3)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/5400103.html">3. jQuery个性化图片轮播效果(1)</a></li>
        </ul>
    </div>
</div>