<div class="persional_property ">
<div  class="person_detail_tab">
<tabset>
    <tab heading="文章管理">
        <div class="tb-row clearfix">
            <span class="fl">
                 <a href="javascript:;;"  routerLink="/my/addpost" class="btn btn-warning"><i class="icon-plus"></i>写文章</a>
                </span>
        </div>
        <my-bloglist></my-bloglist>
    </tab>
    <tab heading="类别管理">
        eeee
    </tab>
    <tab heading="评论管理">
        cccc
    </tab>
    <tab heading="博客配置">
        rrrr
    </tab>
    <tab heading="栏目">
        rrrr
    </tab>
    <tab heading="草稿箱">
        rrrr
    </tab>
    <tab heading="回收站">
        rrrr
    </tab>
</tabset>
</div>
</div>