<div class="container-fluid bg">

    <header class="top-banner">
        <div class="banner-container row center-block">
            <div class="col-md-3 pull-left logo clearfix">
                <a href="#" title="首页" target="_blank" class="icon">
                   accounter.cn
                </a>
            </div>
            <div class="pull-right login-wrap  banner-action">
                <ul class="">
                    <li *ngIf="!CurrentUser"><a href="/login">登录</a>&nbsp;|&nbsp;<a href="/register">注册</a></li>
                    <li *ngIf="CurrentUser">欢迎您！<a href="/u">{{CurrentUser.name}}</a>&nbsp;|&nbsp;<a href="/register">退出</a></li>
                </ul>
            </div>
        </div>
        <div class="header-nav">
            <div class="banner-container navbar-collapse">
                <ul class="navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#">资讯</a></li>
                    <li><a href="#">问答</a></li>
                    <li><a href="#">贴吧</a></li>
                    <li><a href="#">知识库</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class=" home-cont clearfix">
        <div class="cont-left">
            <div class="list-wrap">
                <div class="category_sec clearfix">
                    <div class="category_sec_l "><em><i class="fa fa-internet-explorer"></i>互联网</em></div>
                    <div class="category_sec_r">
                        <ul class="cate_list">
                            <li class="cate_cur"><a href="/www/newarticle.html">最新</a></li>
                            <li><a href="/www/hotarticle.html">最热</a></li>
                        </ul>
                    </div>
                </div>
                <home-blogsummaylist [type]="'newest'" [items]="blogsummarylist"></home-blogsummaylist>
                <div class="blog-pagination">
                    <pagination [boundaryLinks]="true" [totalItems]="totalItems" (pageChanged)="pageChanged($event)" [rotate]="false" [maxSize]="maxSize"
                        [(ngModel)]="currentPage" class="pagination-sm" previousText="上页" nextText="下页" firstText="首页"
                        lastText="尾页"></pagination>
                </div>
            </div>
        </div>
        <div class="cont-right">
            <home-postcategory></home-postcategory>
            <home-toppost></home-toppost>
            <home-expertrank></home-expertrank>
            <home-knowledgebaserank></home-knowledgebaserank>
            <home-contactus></home-contactus>
        </div>
    </div>
    <footer >
        <div class="home-footer">
            <dl>
                <dd class="foot_sub_menu">
                    友情链接：<a href="#">github.com</a> |<a href="#">github.com</a>
                </dd>
                <dd class="foot_sub_menu">
                    我可以卑微如尘土，不可扭曲如蛆虫————季业
                </dd>
                <dd class="foot_sub_menu">
                    作者：aimigi
                </dd>
            </dl>
        </div>
    </footer>
</div>