<div class="container-fluid bg">

    <header class="top-banner">
        <div class="banner-container row center-block">
            <div class="col-md-3 pull-left logo clearfix">
                <a href="#" title="首页" target="_blank" class="icon">
                   accounter.cn
                </a>
            </div>
            <div class="pull-right login-wrap  banner-action">
                <ul class="">
                    <li><a href="/login">登录</a>&nbsp;|&nbsp;<a href="/register">注册</a></li>

                </ul>
            </div>
        </div>
        <div class="header-nav">
            <div class="banner-container navbar-collapse">
                <ul class="navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#">资讯</a></li>
                    <li><a href="#">问答</a></li>
                    <li><a href="#">贴吧</a></li>
                    <li><a href="#">知识库</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class=" home-cont clearfix">
        <div class="cont-left">
            <div class="list-wrap">
                <div class="category_sec clearfix">
                    <div class="category_sec_l "><em><i class="fa fa-internet-explorer"></i>互联网</em></div>
                    <div class="category_sec_r">
                        <ul class="cate_list">
                            <li class="cate_cur"><a href="/www/newarticle.html">最新</a></li>
                            <li><a href="/www/hotarticle.html">最热</a></li>
                        </ul>
                    </div>
                </div>
                <dl class="blog_list clearfix">
                    <dt><a href="http://blog.csdn.net/qq_39558035"><img src="http://avatar.csdn.net/F/2/5/3_qq_39558035.jpg" class="head"></a>
                        <a href="http://blog.csdn.net/qq_39558035" class="nickname">qq_39558035</a>
                    </dt>
                    <dd>
                        <h3 class="tracking-ad" data-mod="popu_254"><a href="http://blog.csdn.net/qq_39558035/article/details/75372796" target="_blank">二甲基四苯基二硅氧烷 IOTA 259</a></h3>
                        <div class="blog_list_c">二甲基四苯基二硅氧烷 IOTA 259 : 1,3-二甲基-1,1,3,3-四苯基二硅氧烷 中文同义词: 1,1,3,3-TETRAPHENYL-1,3-DIMETHY...</div>
                        <div class="blog_list_b clearfix">
                            <div class="blog_list_b_l fl">
                                <span><i class="fa fa-list-ul"></i><a href="/www/newarticle.html" target="_blank">互联网</a></span>
                            </div>
                            <div class="blog_list_b_r fr">
                                <label>1小时前</label><span><i class="fa fa-eye"></i><em>0</em></span>
                            </div>
                        </div>

                    </dd>
                </dl>
                <dl class="blog_list clearfix">
                    <dt><a href="http://blog.csdn.net/qq_39558035"><img src="http://avatar.csdn.net/F/2/5/3_qq_39558035.jpg" class="head"></a>
                        <a href="http://blog.csdn.net/qq_39558035" class="nickname">qq_39558035</a>
                    </dt>
                    <dd>
                        <h3 class="tracking-ad" data-mod="popu_254"><a href="http://blog.csdn.net/qq_39558035/article/details/75372796" target="_blank">二甲基四苯基二硅氧烷 IOTA 259</a></h3>
                        <div class="blog_list_c">二甲基四苯基二硅氧烷 IOTA 259 : 1,3-二甲基-1,1,3,3-四苯基二硅氧烷 中文同义词: 1,1,3,3-TETRAPHENYL-1,3-DIMETHY...</div>
                        <div class="blog_list_b clearfix">
                            <div class="blog_list_b_l fl">

                                <span><i class="fa fa-list-ul"></i><a href="/www/newarticle.html" target="_blank">互联网</a></span>
                            </div>
                            <div class="blog_list_b_r fr">
                                <label>1小时前</label><span><i class="fa fa-eye"></i><em>0</em></span>
                            </div>
                        </div>

                    </dd>
                </dl>
                <dl class="blog_list clearfix">
                    <dt><a href="http://blog.csdn.net/qq_39558035"><img src="http://avatar.csdn.net/F/2/5/3_qq_39558035.jpg" class="head"></a>
                        <a href="http://blog.csdn.net/qq_39558035" class="nickname">qq_39558035</a>
                    </dt>
                    <dd>
                        <h3 class="tracking-ad" data-mod="popu_254"><a href="http://blog.csdn.net/qq_39558035/article/details/75372796" target="_blank">二甲基四苯基二硅氧烷 IOTA 259</a></h3>
                        <div class="blog_list_c">二甲基四苯基二硅氧烷 IOTA 259 : 1,3-二甲基-1,1,3,3-四苯基二硅氧烷 中文同义词: 1,1,3,3-TETRAPHENYL-1,3-DIMETHY...</div>
                        <div class="blog_list_b clearfix">
                            <div class="blog_list_b_l fl">

                                <span><i class="fa fa-list-ul"></i><a href="/www/newarticle.html" target="_blank">互联网</a></span>
                            </div>
                            <div class="blog_list_b_r fr">
                                <label>1小时前</label><span><i class="fa fa-eye"></i><em>0</em></span>
                            </div>
                        </div>

                    </dd>
                </dl>
            </div>
        </div>
        <div class="cont-right">
           <home-postcategory></home-postcategory>
            <home-toppost></home-toppost>
            
        </div>
    </div>
    <footer class="home-footer">
        <div class=""></div>
    </footer>
</div>