<!--done-->
<div class="sidebar-widget">   
    <div class="widget-content">
        <div class="widget-profile">
            昵称：<a href="http://home.cnblogs.com/u/zjf-1992/">aimigi</a><br>
            园龄：<a href="http://home.cnblogs.com/u/zjf-1992/"
                title="入园时间：2015-10-07">1年9个月</a>
                <br>粉丝：<a href="http://home.cnblogs.com/u/zjf-1992/followers/">19</a><br>关注：
            <a href="http://home.cnblogs.com/u/zjf-1992/followees/">38</a>
            <div id="p_b_follow"><a href="javascript:void(0);" onclick="follow('7ec51e23-b96c-e511-9fc1-ac853d9f53cc')">+加关注</a>            
            </div>
        </div>
    </div>
</div>