<div class="sidebar-widget">
    <h3>最新评论</h3>
    <div class="widget-content">
        <ul>
            <li class="recent_comment_title"><a href="http://www.cnblogs.com/zjf-1992/p/5378937.html#3730125">1. Re:JavaScript中数组去除重复</a></li>
            <li class="recent_comment_body">@飞奔吧小土豆<br></li>
            <li class="recent_comment_author">--Avenstar</li>
            <li class="recent_comment_title"><a href="http://www.cnblogs.com/zjf-1992/p/5378937.html#3729959">2. Re:JavaScript中数组去除重复</a></li>
            <li class="recent_comment_body">为什么排序出来的数组是从小到大排列的</li>
            <li class="recent_comment_author">--飞奔吧小土豆</li>
            <li class="recent_comment_title"><a href="http://www.cnblogs.com/zjf-1992/p/6168751.html#3723803">3. Re:【Google Chrome】  Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https, chrome-extension-resource问题解决</a></li>
            <li class="recent_comment_body">刚好遇到这个问题。。。方法2是可以的。。。。我试了，方法1没成功。。。多谢楼主</li>
            <li class="recent_comment_author">--七度晚风</li>
            <li class="recent_comment_title"><a href="http://www.cnblogs.com/zjf-1992/p/6168751.html#3665432">4. Re:【Google Chrome】  Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https, chrome-extension-resource问题解决</a></li>
            <li class="recent_comment_body">@ cw_volcano 可以的，配置浏览器初始化参数后，重启电脑，执行cmd<br></li>
            <li class="recent_comment_author">--Avenstar</li>
            <li class="recent_comment_title"><a href="http://www.cnblogs.com/zjf-1992/p/6168751.html#3665324">5. Re:【Google Chrome】  Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https, chrome-extension-resource问题解决</a></li>
            <li class="recent_comment_body">楼主你验证过了吗? 我试了, 无效.</li>
            <li class="recent_comment_author">--cw_volcano</li>
        </ul>
    </div>
</div>