<div class="categ blog_sec">


    <div class="mod_title">
        <div class="border_b"></div>
        <h4 class="mod_title_t">
            <label><a href="/newarticle.html" >文章分类</a></label>
        </h4>
    </div>
    <div class="blog_category">
        <ul class="category_list">
            <li>
                <a href="/mobile/newarticle.html" target="_blank">
                    <span><i class="fa fa-list" aria-hidden="true"></i></span>政策法规</a></li>
            <li>
                <a href="/enterprise/newarticle.html" target="_blank">
                    <span><i class="fa fa-tasks" aria-hidden="true"></i></span>会计实务</a></li>
            <li>
                <a href="/www/newarticle.html" target="_blank">
                    <span><i class="fa fa-pencil" aria-hidden="true"></i></span>考试交流</a></li>
            <li>
                <a href="/cloud/newarticle.html" target="_blank">
                    <span><i class="fa fa-users" aria-hidden="true"></i></span>会计人生</a> </li>
            <li>
                <a href="/other/newarticle.html" target="_blank">
                    <span><i class="fa fa-link" aria-hidden="true"></i></span>其他分类</a> </li>
        </ul>
    </div>

</div>