 <div class="categ blog_sec">


                <div class="mod_title">
                    <div class="border_b"></div>
                    <h4 class="mod_title_t">
                        <label><a href="/newarticle.html" name="all">博文分类</a></label>
                    </h4>
                </div>
                <div class="blog_category">
                    <ul class="category_list tracking-ad" data-mod="popu_257">
                        <li>
                            <a href="/mobile/newarticle.html" class="mobile" target="_blank">移动开发</a><a href="/web/newarticle.html"
                                class="web" target="_blank">Web前端</a> </li>
                        <li>
                            <a href="/enterprise/newarticle.html" class="enterprise" target="_blank">架构设计</a><a href="/code/newarticle.html"
                                class="code" target="_blank">编程语言</a> </li>
                        <li>
                            <a href="/www/newarticle.html" class="www" target="_blank">互联网</a><a href="/database/newarticle.html"
                                class="database" target="_blank">数据库</a> </li>
                        <li>
                            <a href="/cloud/newarticle.html" class="cloud" target="_blank">云计算</a><a href="/software/newarticle.html"
                                class="software" target="_blank">研发管理</a> </li>
                        <li>
                            <a href="/other/newarticle.html" class="other" target="_blank">综合</a> </li>
                    </ul>
                </div>

            </div>