<div id="BlogPostCategory">分类: <a href="http://www.cnblogs.com/zjf-1992/category/908404.html" target="_blank">阅读/随笔/系列</a></div>
<div id="EntryTag"></div>
<div id="blog_post_info">
    <div id="green_channel">
        <a href="javascript:void(0);" id="green_channel_digg" onclick="DiggIt(7141788,cb_blogId,1);green_channel_success(this,'谢谢推荐！');">好文要顶</a>
        <a id="green_channel_follow" onclick="follow('7ec51e23-b96c-e511-9fc1-ac853d9f53cc');" href="javascript:void(0);">关注我</a>
        <a id="green_channel_favorite" onclick="AddToWz(cb_entryId);return false;" href="javascript:void(0);">收藏该文</a>
        <a id="green_channel_weibo" href="javascript:void(0);" title="分享至新浪微博" onclick="ShareToTsina()"><img src="//common.cnblogs.com/images/icon_weibo_24.png" alt=""></a>
        <a id="green_channel_wechat" href="javascript:void(0);" title="分享至微信" onclick="shareOnWechat()"><img src="//common.cnblogs.com/images/wechat.png" alt=""></a>
    </div>
    <div id="author_profile">
        <div id="author_profile_info" class="author_profile_info">
            <a href="http://home.cnblogs.com/u/zjf-1992/" target="_blank"><img src="//pic.cnblogs.com/face/819169/20161225001236.png" class="author_avatar" alt=""></a>
            <div id="author_profile_detail" class="author_profile_info">
                <a href="http://home.cnblogs.com/u/zjf-1992/">Avenstar</a><br>
                <a href="http://home.cnblogs.com/u/zjf-1992/followees">关注 - 38</a><br>
                <a href="http://home.cnblogs.com/u/zjf-1992/followers">粉丝 - 19</a>
            </div>
        </div>
        <div class="clear"></div>
        <div id="author_profile_honor"></div>
        <div id="author_profile_follow">
            <a href="javascript:void(0);" onclick="follow('7ec51e23-b96c-e511-9fc1-ac853d9f53cc');return false;">+加关注</a>
        </div>
    </div>
    <div id="div_digg">
        <div class="diggit" onclick="votePost(7141788,'Digg')">
            <span class="diggnum" id="digg_count">0</span>
        </div>
        <div class="buryit" onclick="votePost(7141788,'Bury')">
            <span class="burynum" id="bury_count">0</span>
        </div>
        <div class="clear"></div>
        <div class="diggword" id="digg_tips">
        </div>
    </div>
</div>
<div class="clear"></div>
<div id="post_next_prev"><a href="http://www.cnblogs.com/zjf-1992/p/5898779.html" class="p_n_p_prefix">« </a> 上一篇：<a href="http://www.cnblogs.com/zjf-1992/p/5898779.html"
        title="发布于2017-06-16 08:24">清除float浮动造成影响的几种解决方案</a><br></div>