<div class="categ">
    <div class="mod_title">
        <div class="border_b"></div>
        <h4 class="mod_title_t">
            <label>知识库</label>
            
        </h4>
    </div>
    <ul class="expert_wrap" >
        <dl class="expert_list">
            <dt><a href="http://blog.csdn.net/Byeweiyang" target="_blank">
                <img src="assets/imgs/photo.png" alt="img"></a></dt>
            <dd><a href="http://blog.csdn.net/Byeweiyang" target="_blank" class="expert_t">税法新规</a>
              <p class="expert_intro" >收录文档：10,324<br/>关注人数：10,324</p>              
            </dd>
          </dl>  
          <dl class="expert_list">
            <dt><a href="http://blog.csdn.net/Byeweiyang" target="_blank">
                <img src="assets/imgs/photo.png" alt="img"></a></dt>
            <dd><a href="http://blog.csdn.net/Byeweiyang" target="_blank" class="expert_t">税法新规</a>
              <p class="expert_intro" >收录文档：10,324<br/>关注人数：10,324</p>              
            </dd>
          </dl>     
          <dl class="expert_list">
            <dt><a href="http://blog.csdn.net/Byeweiyang" target="_blank">
                <img src="assets/imgs/photo.png" alt="img"></a></dt>
            <dd><a href="http://blog.csdn.net/Byeweiyang" target="_blank" class="expert_t">税法新规</a>
              <p class="expert_intro" >收录文档：10,324<br/>关注人数：10,324</p>              
            </dd>
          </dl>          
    </ul>
</div>