<div class="sidebar-widget">
    <h3>常用链接</h3>
    <div class="widget-content">
        <ul>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/" title="我的博客的随笔列表">我的随笔</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/MyComments.html" title="我发表过的评论列表">我的评论</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/OtherPosts.html" title="我评论过的随笔列表">我的参与</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/RecentComments.html" title="我的博客的评论列表">最新评论</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/tag/" title="我的博客的标签列表">我的标签</a></li>
        </ul>

    </div>
</div>