<div class="sidebar-widget">
    <h3>阅读排行榜</h3>
    <div class="widget-content">
        <ul>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/6168751.html">1. 【Google Chrome】  Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https, chrome-extension-resource问题解决(10703)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/6371765.html">2. ECharts图表之柱状折线混合图(2965)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/5736101.html">3. SpringMVC的Contrller控制器层的三种写法(2195)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/6182406.html">4. HTML5的新语义化的标签(1868)</a></li>
            <li><a href="http://www.cnblogs.com/zjf-1992/p/5378937.html">5. JavaScript中数组去除重复(1636)</a></li>
        </ul>
    </div>
</div>